body {
    background-color: black;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center
}

table {
    border: 2px solid wheat;
}

td,
th {
    font-size: 30px;
    border: 1px solid white;
    padding: 5px;
}

a,
a:active,
 :visited {
    color: turquoise;
}

@media (max-width: 512px) {
    td,
    th {
        font-size: 1.0rem;
        border: 1px solid blue;
    }
}